<script type="text/javascript">
var walk_start="<%=@walk.start%>";
var walk_end="<%=@walk.end%>";
</script>

<nav>
  <ul class='menu'>
    <li>Home</li>
  </ul>
</nav>

<div class="row">
  <div id="directions_box" style='height:100px'><h2>Directions:</h2></br></div>
</div>


<div class="row">
  <div id="pano" style='height:600px'></div>
  <div id="map-canvas" style='height:300px'> </div>
</div>
